<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitob</title>
  </head>
  <body>
    <h1>Tanlangan kitobning batafsil ma'lumoti</h1>
    <br />
    <br />
    <hr />
    <h2>{{kitob.id}}. {{kitob.nom}}</h2>
    <br />
    <br />
    <h2>Sahifa : {{kitob.sahifa}}</h2>
    <br />
    <br />
    <h2>Kitob janri : {{kitob.janr}}</h2>
    <br />
    <br />
    <h2>{{kitob.muallif}}</h2>
  </body>
</html>
