<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qaydnomalar</title>
  </head>
  <body>
    <h1>Kutubxona tizimidagi barcha qaydnomalar</h1>
    <br />
    <br />
    <form action="/qaydlar/" method="POST">
      {% csrf_token %}
      <input type="text" name="qidirish" />
      <button type="submit">Qidirish</button>
    </form>

    <hr />
    <br />
    {% for qayd in qaydlar %}
    <h3>
      {{qayd.id}}.
      <a href="/qayd/{{qayd.id}}/">{{qayd.talaba}} - {{qayd.kitob}} </a>
    </h3>
    {%endfor%}
  </body>
</html>
